# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/job-board?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=job-board
MONGODB_COLLECTION=jobs

# RapidAPI Configuration
RAPIDAPI_KEY=your_rapidapi_key_here

# Admin Configuration
NEXT_PUBLIC_ADMIN_PASSWORD=admin123

# LinkedIn Social Media Configuration
LINKEDIN_ACCESS_TOKEN=your_linkedin_access_token_here
LINKEDIN_ORGANIZATION_ID=your_linkedin_organization_id_here 